<mat-dialog-content class="card cardStyle">
  <h3 class="card-header fw-bold">Crear Nueva Tarea</h3>
  <div class="card-body">
    <div class="row">
      <mat-form-field>
        <mat-label>Nombre de la tarea</mat-label>
        <input [(ngModel)]="task.name" matInput placeholder="Tarea" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Fecha limite</mat-label>
        <input [(ngModel)]="task.expireDate" [matDatepicker]="picker" matInput>
        <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-11">
        <div class="card">
          <h4 class="card-header fw-semibold">Personas asociadas</h4>
          <div *ngFor="let person of task.persons" class="card-body">
            <createPersonComponent (person)="person" [person]="person"></createPersonComponent>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="col-1 align-content-center">
        <fabAddComponent (click)="addPerson()"></fabAddComponent>
      </div>
    </div>
    <div class="row">
      <button (click)="createTask()" mat-raised-button>
        Crear Tarea
      </button>
    </div>
  </div>
</mat-dialog-content>
