<div class="row">
    <mat-form-field>
        <mat-label>Nombre completo</mat-label>
        <input matInput placeholder="Nombre" required>
    </mat-form-field>
</div>
<div class="row">
    <mat-form-field>
        <mat-label>Edad</mat-label>
        <input matInput placeholder="Edad" required>
    </mat-form-field>
</div>
<div class="row">
    <div class="col-11">
        <div class="card">
            <h4 class="card-header fw-semibold">Habilidades</h4>
            <div class="card-body">
                <createSkillsComponent></createSkillsComponent>
            </div>
        </div>
    </div>
    <div class="col-1 align-content-center">
        <fabAddComponent></fabAddComponent>
    </div>
</div>

