<div class="row">
    <mat-form-field>
        <mat-label>Nombre completo</mat-label>
        <input [(ngModel)]="person.name" matInput placeholder="Nombre" required>
    </mat-form-field>
</div>
<div class="row">
    <mat-form-field>
        <mat-label>Edad</mat-label>
        <input [(ngModel)]="person.age" matInput placeholder="Edad" required type="number">
    </mat-form-field>
</div>
<div class="row">
    <div class="col-11">
        <div class="card">
            <h4 class="card-header fw-semibold">Habilidades</h4>
            <div *ngFor="let skill of person.skills" class="card-body">
                <createSkillsComponent [skill]="skill"></createSkillsComponent>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="col-1 align-content-center">
        <fabAddComponent (click)="addSkill()"></fabAddComponent>
    </div>
</div>

